@import url('reset.css');
@import url('typography.css');

body {
    background: rgb(241, 241, 241);
}

.site {
    display: flex;
    max-width: 70rem;
    margin: 0 auto;
}

aside {
    width: 25%;
}

aside .aside-title {
    font-size: 1.2rem;
}

aside article, main section {
   padding: 1rem;
}

aside img {
    display: block;
    width: 100%;
    height: auto;
}

aside .languages p,
aside .skills p {
    padding-top: 1rem;
}

.progress-bar {
    background: #f1f1f1;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
}

.inner-progress-bar {
    border-radius: 0.8rem;
    background: #009688;
}

section .far,
section .fas,
article .fas  {
    color: #009688;
}

main {
    width: 75%;
}

aside, main section {
    background: white;
    margin:  1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0, rgba(0, 0, 0, 0.19) 0 4px 20px 0;

}

article.school {
    border: 2px solid #009688;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

article.school h4 {
    text-align: center;
}

.school .description img {
    max-width: 6rem;
    float: left;
    padding: 1rem;
    background-color: rgba(241, 241, 241, .4);
    border-radius: 0.8rem;
}

article.job-article h4 {
    font-style: italic;
    font-size: 1rem;
}

h2,h3, h4 {
    color: #757575;
}

footer {
    text-align: center;
    color: white;
    background: #009688;
    padding: 1rem 1rem 0 1rem;
}

footer .social-icons i  {
    padding-right: 0.5rem;
}

@media screen and ( max-width:800px ) {
    .site {
    flex-wrap: wrap;
    }

    aside {
    width: 100%;
    }

    main {
    width: 100%;
    }

    aside img {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
    }

    .school .description img {
    display: flex;
    max-width: 10rem;
    float: none;
    margin: 0 auto;
    padding: 2rem;
    background: none;
   }
}















